[submodule "vor"]
	path = vor
	url = git@github.com:alexjakubow/vor.git
[submodule "cosr"]
	path = cosr
	url = git@github.com:alexjakubow/cosr.git
[submodule "truenorth"]
	path = truenorth
	url = git@github.com:alexjakubow/truenorth.git
