[submodule "vor"]
	path = vor
	url = git@github.com:alexjakubow/vor.git
[submodule "cosr"]
	path = cosr
	url = git@github.com:alexjakubow/cosr.git
[submodule "truenorth"]
	path = truenorth
	url = git@github.com:alexjakubow/truenorth.git
[submodule "cosmetrics"]
	path = cosmetrics
	url = git@github.com:alexjakubow/cosmetrics.git
[submodule "stagehand"]
	path = stagehand
	url = git@github.com:alexjakubow/stagehand.git
[submodule "kpi-forecast"]
	path = kpi-forecast
	url = git@github.com:alexjakubow/kpi-forecast.git
[submodule "mother"]
	path = mother
	url = git@github.com:alexjakubow/mother.git
